In [43]:

%%bash
# pip3 install sklearn pandas matplotlib pyclustering

In [60]:
from sklearn.cluster import KMeans

import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt

# for medoids
# from sklearn_extra.cluster import KMedoids # no way to install
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering
import time

%matplotlib inline

In [61]:
# Global variables
colors = ['green', 'blue', 'orange', 'red', 'purple', 'yellow', 'cyan', 
          'black', 'pink', 'teal', 'aqua', 'maroon']
markers = ["o","v","^","<",">","1","2","3","4","8","s","p","P","*","h","H","+","x","X","D","d"]
dfs = []
df = pd.DataFrame()
file_name = 'titanic.csv'

In [62]:
def pre_process_data():
    global df
    # Read csv file
    df = pd.read_csv(file_name)
    df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis='columns', inplace=True)

In [63]:
pre_process_data()

In [64]:
target = df.Survived
inputs = df.drop('Survived', axis='columns')

In [65]:
dummies = pd.get_dummies(inputs.Sex)
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
5         0     1
6         0     1
7         0     1
8         1     0
9         1     0
10        1     0
11        1     0
12        0     1
13        0     1
14        1     0
15        1     0
16        0     1
17        0     1
18        1     0
19        1     0
20        0     1
21        0     1
22        1     0
23        0     1
24        1     0
25        1     0
26        0     1
27        0     1
28        1     0
29        0     1
..      ...   ...
861       0     1
862       1     0
863       1     0
864       0     1
865       1     0
866       1     0
867       0     1
868       0     1
869       0     1
870       0     1
871       1     0
872       0     1
873       0     1
874       1     0
875       1     0
876       0     1
877       0     1
878       0     1
879       1     0
880       1     0
881       0     1
882       1     0
883       0     1
884       0     1
885       1     0
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [50]:
inputs = pd.concat([inputs, dummies], axis='columns')

In [51]:
inputs.drop('Sex', axis='columns', inplace=True)

In [52]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

In [54]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [55]:
model.fit(X_train, y_train)

GaussianNB(priors=None)

In [56]:
model.score(X_test, y_test)

0.776536312849162

In [57]:
model.predict(X_test[:10])

array([0, 0, 1, 0, 0, 0, 0, 1, 0, 0])

In [58]:
y_test[:10]

633    0
112    0
678    0
805    0
841    0
552    0
551    0
541    0
354    0
864    0
Name: Survived, dtype: int64