In [1]:
from sklearn.cluster import KMeans

import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt

# for medoids
# from sklearn_extra.cluster import KMedoids # no way to install
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering
import time

%matplotlib inline

In [3]:
# Global variables
colors = ['green', 'blue', 'orange', 'red', 'purple', 'yellow', 'cyan', 
          'black', 'pink', 'teal', 'aqua', 'maroon']
markers = ["o","v","^","<",">","1","2","3","4","8","s","p","P","*","h","H","+","x","X","D","d"]
dfs = []
df = pd.DataFrame()
file_name = 'employees.csv'

In [7]:
def pre_process_data():
    global df
    # Read csv file
    df = pd.read_csv(file_name, delim_whitespace=True)

In [8]:
pre_process_data()

In [10]:
df

       sales  senior  31..35  46K..50K  30
0      sales  junior  26..30  26K..30K  40
1      sales  junior  31..35  31K..35K  40
2    systems  junior  21..25  46K..50K  20
3    systems  senior  31..35  66K..70K   5
4    systems  junior  26..30  46K..50K   3
5    systems  senior  41..45  66K..70K   3
6  marketing  senior  36..40  46K..50K  10
7  marketing  junior  31..35  41K..45K   4
8  secretary  senior  46..50  36K..40K   4
9  secretary  junior  26..30  26K..30K   6

In [ ]:
target = df.Survived
inputs = df.drop('Survived', axis='columns')